<div class="main-content">
    <div class="container-fluid">
		<div class="col-md-12">
				<!-- <pre>{{project | json}}</pre> -->
			<form #newClientForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="card">

                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">extension</i>
					</div>

                    <div class="card-content">
                        <h4 class="card-title">Nouveau client -
                            <small class="category">Complétez les informations du client</small>
                        </h4>

						<div class="row">

							<div class="col-md-6">
								<div class="form-group label-floating">
									<label class="control-label">Prénom</label>
									<input required 
										minlength="2" 
										[(ngModel)]="client.firstname"
										name="title" 
										type="text" 
										class="form-control"/> 
								</div>
							</div>
							<div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Nom</label>
										<input required 
											minlength="2" 
											[(ngModel)]="client.lastname"
											name="title" 
											type="text" 
											class="form-control"/> 
									</div>
								</div>
							<div class="col-md-7">
								<div class="form-group label-floating">
									<label class="control-label">Adresse E-Mail</label>
									<input required 
										email
										minlength="2" 
										[(ngModel)]="client.email"
										name="email"
										type="text"
										class="form-control"/> 
								</div>
							</div>

							<div class="col-md-5">
								<div class="form-group label-floating">
									<label class="control-label">Téléphone</label>
									<input required 
										type="text"
										[(ngModel)]="client.phone"
										name="reference"
										class="form-control"/>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group label-floating">
									<label class="control-label">Mot de passe</label>
									<input required 
										type="password"
										[(ngModel)]="client.password"
										name="reference"
										class="form-control"/>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group label-floating">
									<label class="control-label">Confirmez le mot de passe</label>
									<input required 
										type="password"
										[(ngModel)]="client.confirmPassword"
										name="reference"
										class="form-control"/>
								</div>
							</div>
						</div>				
						
						<div class="clearfix"></div>							
						<button type="submit" class="btn btn-success pull-right">Sauvegarder</button>
						<div class="clearfix"></div>
					</div>
				</div>
			</form>

			<pre>

				{{ client | json }}

			</pre>
		</div>
    </div>
</div>
