<div class="main-content">
    <div class="container-fluid">

			<div class="col-md-4">
				<div class="card">
					
					<div class="card-header card-header-icon" data-background-color="orange">
						<i class="material-icons">hourglass_empty</i>
					</div>
					<div class="card-content">
						<h4 class="card-title">
							État d'avancement
						</h4>
						
						<ul class="timeline timeline-simple">
							<ng-container *ngFor="let s of steps; let i = index;">
								<li *ngIf="this.project?.step + 1 >= i || showMore" class="timeline-inverted">
									<div class="timeline-badge"
										[class.success]="this.project?.step > i"
										[class.danger]="this.project?.step < i"
										[class.info]="this.project?.step === i"
									>
										<i class="material-icons">{{ this.project?.step > i ? 'done' : ( this.project?.step === i ? 'autorenew' : 'close') }}</i>
									</div>
									<div class="timeline-panel">
										<div class="timeline-heading">
											<span class="label"
												[class.label-success]="this.project?.step > i"
												[class.label-danger]="this.project?.step < i"
												[class.label-info]="this.project?.step === i"
											>{{ s }}</span>
										</div>
										<!-- <div *ngIf="project.steps && project.steps[i]" class="timeline-body">
											<p>Accordé il y a 6 jours par Adrien Fernandes</p>
										</div> -->
										<div class="timeline-body" *ngIf="this.project?.step === i && userService.role === 'compta'">
											<button type="button" class="btn btn-success btn-small btn-mini" (click)="selectStep(i)">Valider</button>
										</div>
									</div>
								</li>
							</ng-container>
							<li *ngIf="this.project?.step <= steps.length - 2" class="timeline-inverted">
								<div class="timeline-badge success" style="cursor: pointer; background-color: #BBBB" (click)="showMore = !showMore">
									<i class="material-icons"> {{ !showMore ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									</div>
								</div>
							</li>
						</ul>
						
					</div>
					
				</div>
			</div>
			
			<div class="col-md-8">
				<div class="card">
					<div class="card-header card-header-icon" data-background-color="blue">
						<i class="material-icons">apps</i>
					</div>
					<div class="card-content">
						<h4 class="card-title">
							{{ project?.title }}
						</h4>

						<p>
							{{ project?.description }}
						</p>
						
						<hr>

						<div>
							<b>Commercial en charge:</b> {{ commercial?.firstName }} {{ commercial?.lastName }}
						</div>
						
						<div>
							<b>Client:</b> {{ client?.firstName }} {{ client?.lastName }}
						</div>
						
					</div>
					
				</div>
				<div class="card">
					
					<div class="card-header card-header-icon" data-background-color="purple">
						<i class="material-icons">format_align_center</i>
					</div>
					<div class="card-content">
						<h4 class="card-title">
							Devis
						</h4>

						<div class="col-md-6">
							<p>
								SAS Madera<br/>
								2 Avenue de Provence,<br/>
								29200 Brest,
							</p>
						</div>
						<div class="col-md-6">
							<p>
								Monsieur Max {{ client?.firstName }} {{ client?.lastName }}<br/>
								3 rue latouche tréville,<br/>
								29200 Brest
							</p>
						</div>
						
						
						<div>
							<b>Référence devis:</b> 1234567
						</div>

						<h5>Modules</h5>
						<div class="content table-responsive">
							<table class="table">
								<thead>
								</thead>
								<tbody>
									<th class="text-center" *ngFor="let row of headerRow">{{ row }}</th>
									<tr *ngFor="let row of project?.modules">
										<td>{{ row.name }}</td>
										<td class="text-center">{{ row.reference }}</td>
										<td class="text-center">{{ row.gamme }}</td>
										<td class="text-center">{{ row.quantity }}</td>
										<td class="text-center">{{ row.price | number:'3.1-5':'fr' }}€</td>
										<td class="text-right">{{ row.price * row.quantity | number:'3.1-5':'fr' }}€</td>
									</tr>
									<tr>
										<td colspan="5" class="text-right">Total:</td>
										<td class="text-right"><b>{{ getPrice() | number:'3.1-5':'fr' }}€</b></td>
									</tr>
								</tbody>
							</table>
						
						</div>
							
		
					</div>
				</div>

				<div class="card">
					<div class="card-header card-header-icon" data-background-color="green">
						<i class="material-icons">build</i>
					</div>
					<div class="card-content">
						<h4 class="card-title">
							Actions
						</h4>

						<button (click)="print()" class="btn btn-default">Imprimer</button>

						<ng-container *ngIf="userService.role === 'client'">
							<button class="btn btn-warning">Demander une révision</button>
							<button class="btn btn-success" *ngIf="!project.step" (click)="selectStep(0)">Valider ce devis</button>
						</ng-container>
					</div>
				</div>

			</div>

    </div>
</div>
