<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div *ngFor="let mod of modules; let i = index;" class="col-lg-3 col-md-4 col-xs-6">
                <div class="card card-product">
                    <div class="card-content">
                        <h4 class="card-title">
                            <a href="javascript:void(0)">{{ mod.name }}</a>
                        </h4>

                        <div class="card-actions" *ngIf="userService.role === 'etude'">
                            <button (click)="removeModule(mod)" type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="Supprimer">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                        <hr/>
                        <div style="text-align: left" class="card-description">
                            <p><b>Reference:</b> {{ mod.reference }}</p>
                            <p><b>Description:</b> {{ mod.description }}</p>
                            <p><b>Gamme:</b> {{ mod.gamme }}</p>
                            <p><b>Prix:</b> {{ mod.price }}€/u</p>
                        </div>

                        <div style="text-align: center">
                            <button (click)="mod.expend = !mod.expend" class="btn btn-sm btn-primary">
                                {{ !mod.expend ? 'Voir +' : 'Réduire' }}
                            </button>
                        </div>

                        <ng-container *ngIf="mod.expend">
                            <hr/>
                            <div style="text-align: left" class="card-description">
                                <div *ngFor="let key of toArray(mod.components)">
                                    <p><b>{{ translate[key] || key }}:</b> {{ mod.components[key] }}</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <!-- <div class="card-footer">
                    </div> -->
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6" *ngIf="userService.role === 'etude'">
                <div class="card card-product">
                    <div class="card-content">
                        <h1 class="card-title">
                            <a routerLink="/modules/new">
                                <i class="fa fa-plus"></i>
                            </a>
                        </h1>
                    </div>
                    <div class="card-footer text-center">
                        <div class="price">
                            Nouveau module
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
 