<div class="main-content">
    <div class="container-fluid">
		<div class="col-md-12">

			<form #projectForm="ngForm">
				<!-- <pre>{{project | json}}</pre> -->
                <div class="card">

                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">apps</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Nouveau projet -
                            <small class="category">Complétez les informations projets</small>
                        </h4>


                            <div class="col-md-8">

								<div class="row">
									<!-- form: {{ projectForm?.controls?.title?.value }}
									project: {{ project?.title }} -->

									<div class="col-md-8">
										<div class="form-group label-floating">
											<label class="control-label">Titre</label>
											<input required 
												minlength="2" 
												[(ngModel)]="project.title"
												name="title" 
												type="text" 
												class="form-control"/> 
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group label-floating">
											<label class="control-label">Réference</label>
											<input required 
												minlength="2" 
												[(ngModel)]="project.reference"
												name="reference"
												type="text"
												class="form-control"/> 
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Client</label>
											<select 
												class="selectpicker selectClient fixIcon" 
												data-style="select-with-transition" 
												title="Client"
												name="client"
												[(ngModel)]="project.client">
												<option disabled>Selectionnez les clients en liés à ce projet</option>
												<option [value]="client?.$key"
													*ngFor="let client of clients">
													{{ client?.firstName + ' ' + client?.lastName }}
												</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Commercial</label>
											<select 
												class="selectpicker selectCommercial fixIcon" 
												data-style="select-with-transition" 
												multiple 
												title="Commerciaux" 
												data-size="7"
												name="commercials"
												[(ngModel)]="project.commercials">
												<option disabled>Selectionnez le ou les commerciaux en charge du projet</option>
												<option *ngFor="let commercial of commercials" [value]="commercial?.$key">
													{{ commercial?.firstName + ' ' + commercial?.lastName }}
												</option>
											</select>
										</div>
									</div>
								</div>


                                <div class="">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Description</label>
										<textarea ngModel
											name="description"
											rows="4"
											class="form-control"> 
										</textarea>
                                    </div>
								</div>

								<div class="content table-responsive" style="overflow: inherit; overflow-x: inherit;">
									<table class="table">
										<thead>
											
										</thead>
										<tbody>
											<th class="text-center" *ngFor="let header of modulesTable.headerRow">{{ header }}</th>
											<th></th>
											<tr *ngFor="let row of modulesTable.dataRows; let i = index">
												<td>{{ row.name }}</td>
												<td class="text-center">{{ row.reference }}</td>
												<td class="text-center">{{ row.gamme }}</td>
												<td class="text-center">
													<span (click)="add(row, -1)" class="btn btn-danger btn-simple btn-xs">
														<i class="material-icons">remove</i>
													</span>
													{{ row.quantity }}
													<span (click)="add(row, 1)" class="btn btn-success btn-simple btn-xs">
														<i class="material-icons">add</i>
													</span>
												</td>
												<td class="text-center">{{ row.price }}€</td>
												<td class="text-center">{{ row.quantity * row.price | number:'3.1-5':'fr' }}€</td>
												<td class="text-center">
													<span (click)="deleteModule(index)" class="btn btn-danger btn-simple btn-xs">
														<i class="material-icons">clear</i>
													</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="dropdown pull-left">
														<button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown">
															<i class="material-icons">add</i>
															<span class="caret"></span>
														</button>
														<ul class="dropdown-menu dropdown-menu-right" role="menu">
															<li *ngFor="let mod of modules">
																<a href="javascript:void(0)" (click)="addModule(mod)">{{ mod.name }} - {{ mod.reference }}</a>																
															</li>
														</ul>
													</div>
												</td>
												<td colspan="4" class="text-right">Total:</td>
												<td class="text-center"><b>{{ getPrice() | number:'3.1-5':'fr' }}€</b></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>

							<div class="col-md-4">
								<div>
									<span *ngIf="pictures.length === 0"></span>

									<div *ngFor="let picture of pictures; let i = index">
										<button 
											(click)="removePicture(i)" 
											class="btn btn-just-icon btn-simple btn-twitter remove-btn">
											<i class="fa fa-times"></i>
										</button>
										<img [src]="picture" alt="">
									</div>
								</div>

								<div class="text-center">
									<span class="btn btn-rose btn-file">
										<span class="fileinput-new">Ajouter une image</span>
										<input (change)="onFileChange($event)" type="file">
									</span>
								</div>
							</div>

							<ly-cropping [style.display]="!_img.img?'none':'inherit'" #_img></ly-cropping>

							<div class="text-center" *ngIf="_img.img">    

								<button type="button" class="btn btn-just-icon btn-simple btn-sm" (click)="_img.zoom('+')">
									<i class="material-icons">zoom_in</i>
								</button>

								<button type="button" class="btn btn-primary btn-sm" (click)="_img.center()">Centrer</button>
								<button type="button" class="btn btn-success btn-sm" (click)="addPicture()">Ajouter</button>

								<button type="button" class="btn btn-just-icon btn-simple btn-sm" (click)="_img.zoom('-')">
									<i class="material-icons">zoom_out</i>										
								</button>
							</div>

                            <div class="clearfix"></div>							
                            <button type="button" (click)="onSubmit(projectForm.value)" class="btn btn-success pull-right">Sauvegarder</button>
                            <div class="clearfix"></div>

						</div>

						<!-- <pre>
							{{ projectForm.value | json }}
						</pre> -->

				</div>

			</form>

		</div>
    </div>
</div>
