<div class="main-content">
    <div class="container-fluid">
        <div>
            
        </div>
        
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Profil personnel -
                            <small class="category">Complétez vos informations</small>
                        </h4>

                        <form (ngSubmit)="onSubmit()" #profilForm="ngForm">
                            <!-- <pre>
                                {{ profilForm.valid | json }}
                            </pre>   -->
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Prénom</label>
                                        <input required minlength="2" [ngModel]="user?.firstName" name="firstName" type="text" class="form-control">
                                        <!-- <span *ngIf="profilForm." -->
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Nom</label>
                                        <input required [ngModel]="user?.lastName" name="lastName" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Adresse mail</label>
                                        <input disabled [ngModel]="user?.email" name="email" type="email" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Téléphone</label>
                                        <input [ngModel]="user?.phone" name="phone" type="text" class="form-control">
                                    </div>
                                </div>

                                <!--<div class="col-md-8">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Adresse postal</label>
                                        <input [(ngModel)]="adress" name="name" type="text" class="form-control">
                                    </div>
                                </div>-->

                            </div>
                            <button type="submit" class="btn btn-success pull-right">Mettre à jours</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img style="height: 130px; width: 130px" class="img" [src]="user?.photo || '/assets/img/placeholder.jpg'" />
                    </div>
                    
                    <div class="card-content">
                        <div>
                            <span class="btn btn-rose btn-file">
                                <span class="fileinput-new">Choisir une image</span>
                                <input (change)="onFileChange($event)" type="file">
                            </span>
                        </div>

                        <ly-cropping [style.display]="!_img.img?'none':'inherit'" #_img sizeW="130" sizeH="130" ></ly-cropping>

                        <div *ngIf="_img.img">    
                            <div class="btn-group">
                                <button type="button" class="btn btn-info btn-sm" (click)="_img.zoom('+')">+</button>
                                <button type="button" class="btn btn-info btn-sm" (click)="_img.zoom('-')">-</button>
                            </div>
                            <button type="button" class="btn btn-primary btn-sm" (click)="_img.center()">Centrer</button>
                            <button type="button" class="btn btn-success btn-sm" (click)="updateProfilPicture()">Enregistrer</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
