<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Profil personnel -
                            <small class="category">Complétez vos informations</small>
                        </h4>
                        <form (ngSubmit)="onSubmit()" #profilForm="ngForm">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Prénom</label>
                                        <input [ngModel]="user?.firstName" name="firstName" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Nom</label>
                                        <input [ngModel]="user?.lastName" name="lastName" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Adresse mail</label>
                                        <input [ngModel]="user?.email" name="email" type="email" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Téléphone</label>
                                        <input [ngModel]="user?.phone" name="phone" type="text" class="form-control">
                                    </div>
                                </div>

                                <!--<div class="col-md-8">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Adresse postal</label>
                                        <input [(ngModel)]="adress" name="name" type="text" class="form-control">
                                    </div>
                                </div>-->

                            </div>
                            <button type="submit" class="btn btn-rose pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="../../assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-content">
                        <legend>Changer votre photo de profil</legend>
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail img-circle">
                                <img src="/assets/img/placeholder.jpg" alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                            <div>
                                <span class="btn btn-round btn-rose btn-file">
                                    <span class="fileinput-new">Add Photo</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="..." />
                                </span>
                                <br />
                                <a href="javascript:void(0);" class="btn btn-danger btn fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                <a href="javascript:void(0);" class="btn btn-info btn" (click)="updateProfilPicture()"><i class="fa fa-times"></i> Upload</a>
                            </div>
                            <div>
                            </div>
                        </div>
                        Photo
                        {{ photo }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
