<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        A propos
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy;
            {{today | date: 'yyyy'}}
            <a href="https://github.com/Untel">Équipe CAM</a>, dans le cadre d'un projet scolaire.
        </p>
    </div>
</footer>
